body {
    background-color: #ABC7D9;
}

.home-button img {
    width: 60px;
    height: auto;
    margin-top: 8px;
    margin-left: 8px;
}

.return-button img{
    width: 35px;
    height: auto;
    position: relative;
    margin-left: 10px;
}
.wingedstarbunny-button img {
    width: 250px;
    height: auto;
}

.wingedflamebunny-button img {
    width: 250px;
    height: auto;
}

.wingedfloralbunny-button img {
    width: 250px;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
  }

  .wingedstarbunny-button,.wingedflamebunny-button,.wingedfloralbunny-button{
    margin: 20px;
    margin-top: 200px;
}

.wingedstarbunny-button:hover,.wingedflamebunny-button:hover,.wingedfloralbunny-button:hover {
    filter:drop-shadow(-10px 10px #D1BE9F);
    transition: all ease-in 0.1s !important;
  }